# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*.so

# Environment variables
.env
.env.local
backend/.env

# Databases
*.db
data/chromadb/

# IDE
.idea/

# Misc
*.log
.DS_Store

run.txt